body{
    background-color: rgb(221, 47, 221);
}

header{
    text-align: center;
    font-size: 70px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', sans-serif;
}

h2{
    text-align: center;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: rgb(74, 45, 70);
}

.button{
    text-align: center;
    background-color: rgb(180, 118, 165);
    color: white;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-left: 3px solid white;
    font-size: 30px;
}

.button:hover{
    background-color:rgb(216, 184, 212);
}

.interactive{
    text-align: center;
    background-color: pink;
    border-top: 2px solid pink;
    /* border-bottom: 2px solid pink; */
    height: 180px;
    /* width: 500px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

 .specific {
      text-align: center;
    }

